APP_NAME=Lumio
APP_ENV=local
APP_DEBUG=true
APP_TIMEZONE=Asia/Karachi
APP_LOCALE=en

DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=lumio
DB_USERNAME=your_hostinger_db_user
DB_PASSWORD=your_hostinger_db_password
